<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-3">

      <form class="form" #f="ngForm">
        <div class="form-group text-center">

          <mat-form-field>

            <mat-select [(ngModel)]="categoryId" name="categoryId" (selectionChange)="searchByCategoryId(categoryId)" placeholder="Select a category ID">

              <mat-option *ngFor="let data of dataSetObject | orderBy : 'categoryId'" [value]="data.categoryId">
                {{ data.categoryId }}
              </mat-option>

            </mat-select>

          </mat-form-field>

          <p>Or</p>

          <mat-form-field>
            <mat-select [(ngModel)]="categoryLevel" name="categoryLevel" (selectionChange)="searchByCategoryLevel(categoryLevel)" placeholder="Select a category level">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button (click)="resetForm()">Reset</button>
        </div>

      </form>

      <div class="row info">

        <div class="col-md-12 text-center is-loading-data" *ngIf="isLoadingData">

          <mat-progress-spinner class="spinner" diameter="30" color="primary" mode="indeterminate">
          </mat-progress-spinner>
          <p>Fetching data for
            <strong *ngIf="seachingByCategoryId">category ID: {{ categoryId }}</strong>
            <strong *ngIf="searchingByCategoryLevel">category level: {{ categoryLevel }}</strong>
          </p>

        </div>

        <div class="col-md-12 text-center">

          <table class="table table-striped" *ngIf="dataSet && !isLoadingData">
            <thead>
              <tr>
                <th>Category Id</th>
                <th>Parent Category Id</th>
                <th>Name</th>
                <th>Keywords</th>
                <th *ngIf="searchingByCategoryLevel">Category Level</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dataSet">
                <td class="text-center" [ngClass]="{ 'selected': seachingByCategoryId || searchingByCategoryLevel }">{{ data.categoryId }}</td>
                <td class="text-center">{{ data.parentCategoryId }}</td>
                <td class="text-left">{{ data.name }}</td>
                <td class="text-center" [ngClass]="{ 'selected': seachingByCategoryId }">{{ data.keywords || 'NULL' }}</td>
                <td *ngIf="searchingByCategoryLevel" class="text-center" [ngClass]="{ 'selected': searchingByCategoryLevel }">{{ categoryLevel }}</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12 text-center">
          <p>Visual dataset (img) to compare results:</p>
          <img src="assets/images/table.png" alt="Table">
        </div>

      </div>

    </div>
  </div>
</div>
